@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

.f-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 7vh;
    background-color: #3a3a3a;
    color: #ededed;
    font-family: 'Cinzel', serif;
    font-size: 0.8rem;
}