/* Import fonta */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap");

/* Slika pozadine */
.user-bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

/* Glavni omotač */
.user-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-family: "Cinzel", serif;
}

/* Središnji kontejner */
.user-list-container {
  background-color: #3a3a3a;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  color: #ededed;
  display: flex;
  flex-direction: row;
  width: 85vw;
  height: 75vh;
  margin-top: 5vh;
  border-radius: 0.5rem;
}

/* Omotač popisa korisnika */
.user-list-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

/* Lista korisnika */
.user-list {
  margin-top: 1rem;
  text-align: left;
  font-size: 0.7rem;
  overflow-y: auto;
  height: 75%;
}

/* Omotač gumbova */
.user-btns {
  padding: 0.5rem;
  margin-top: auto;
  display: flex;
  justify-content: space-evenly;
}

/* Funkcionalni gumbi */
.user-btns button {
  background-color: #6c757d;
  color: #ededed;
  border: none;
  border-radius: 0.5rem;
  width: 25%;
}

/* Prijelaz miša preko gumba */
.user-btns button:hover {
  background-color: #5a6268;
}

/*----------------------Responzivnost---------------------------*/
@media (max-width: 1024px) {
  .user-list-container {
    flex-direction: column;
  }

  .user-list-wrapper {
    width: 100%;
    overflow-y: auto;
  }

  .user-title {
    font-size: 1.6rem;
  }

  .user-list {
    font-size: 0.9rem;
  }

  .user-btns button {
    width: 25%;
  }
}

@media (min-width: 1024px) and (max-height: 900px) {
  .user-list-container {
    flex-direction: row;
  }

  .user-list-wrapper {
    padding: 1rem;
    width: 100%;
    overflow-y: auto;
  }

  .user-title {
    font-size: 1.4rem;
  }

  .user-list {
    font-size: 0.8rem;
  }

  .user-btns button {
    width: 30%;
  }
}

@media (max-width: 480px) {
  .user-list-container {
    flex-direction: column;
  }

  .user-list-wrapper {
    width: 100%;
    overflow-y: auto;
  }

  .user-title {
    font-size: 1.2rem;
  }

  .user-list {
    font-size: 0.7rem;
  }

  .user-btns button {
    width: 70%;
  }
}
