/* Import fonta */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap");

/* Slika pozadine */
.scan-bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

/* Glavni omotač */
.scan-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-family: "Cinzel", serif;
}

/* Omotač */
.scan-container {
  background-color: #3a3a3a;
  color: #ededed;
  display: flex;
  flex-direction: row;
  width: 85vw;
  height: 75vh;
  margin-top: 5vh;
  border-radius: 0.5rem;
  font-family: "Cinzel", serif;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/* Omotač kamere */
.scanner-wrapper {
  width: 50%;
  text-align: center;
  font-size: 1.5rem;
}

/* Naslov skenera */
.sc-title {
  padding: 0.75rem;
  height: 10%;
}

/* Kontejner kamere */
.cam-dim {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  padding: 1rem;
}

/* Dimenzije kamere */
.scan-container video {
  width: 70%;
  height: 80%;
  border-radius: 0.5rem;
  object-fit: fill !important;
}

/* Kontejner za dohvat */
.fetch-div {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
  font-size: 1.25rem;
}

/* Gumbi u fetchu */
.fetch-btn {
  display: flex;
  justify-content: space-evenly;
  height: 50%;
}

/* Dizajn gumba */
.fetch-btn button {
  width: 30%;
  border-radius: 0.5rem;
  background-color: #6c757d;
  color: #ededed;
  border: none;
}

/* Prijelaz miša preko gumba */
.fetch-btn button:hover {
  background-color: #5a6268;
}

/* Kontejner za skenirane bar kodove */
.brc-list-container {
  overflow-y: hidden;
  width: 70%;
}

/* Naslov skeniranih bar kodova */
.scanned-title {
  height: 10%;
  padding: 0.75rem;
  text-align: center;
  font-size: 1.5rem;
}

/* Lista skeniranih bar kodova */
.scan-br-list {
  height: 90%;
  overflow-y: auto;
  text-align: left;
  padding: 1rem;
  font-size: 0.8rem;
}

/* Ručni unos */
.manual-input {
  width: 38vw;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Inputi */
.label-input {
  margin-left: 0.5rem;
  border-radius: 0.5rem;
}

/*----------------------Responzivnost---------------------------*/
@media (max-width: 1024px) {
  .scan-container {
    flex-direction: column;
    padding: 0.5rem;
  }

  .scanner-wrapper {
    font-size: 2rem;
    height: 70%;
  }

  .fetch-div {
    font-size: 1.5rem;
  }

  .scanner-wrapper,
  .brc-list-container {
    width: 100%;
  }

  .cam-dim {
    height: 65%;
  }

  .scan-container video {
    width: 90%;
    height: 100%;
  }

  .scanned-title {
    font-size: 1.75rem;
  }

  .fetch-btn button {
    width: 30%;
    font-size: 1.5rem;
  }

  .scan-br-list {
    font-size: 1rem;
    margin-top: 1.5rem;
  }

  .manual-input {
    width: 100%;
    height: 30%;
    align-items: center;
  }

  .label-input {
    margin-left: 0;
  }

  label {
    width: 30%;
  }

  form {
    overflow-y: auto;
    margin-top: 1rem;
    width: 100%;
  }

  button {
    align-self: center;
  }
}

@media (min-width: 1024px) and (max-height: 900px) {
  .scan-container {
    flex-direction: row;
    padding: 1rem;
  }

  .scanner-wrapper {
    font-size: 1.5rem;
    height: 100%;
    width: 50%;
  }

  .fetch-div {
    font-size: 1rem;
  }

  .scanner-wrapper {
    width: 68%;
  }

  .brc-list-container {
    width: 50%;
  }

  .scan-container video {
    width: 80%;
    height: 100%;
  }

  .scanned-title {
    font-size: 1.5rem;
  }

  .fetch-btn button {
    width: 30%;
    font-size: 0.85rem;
  }

  .scan-br-list {
    font-size: 0.8rem;
  }

  .manual-input {
    width: 100%;
    height: 30%;
  }

  .label-input {
    margin-left: 0;
  }

  label {
    width: 25vw;
  }

  form {
    margin-top: 1rem;
    width: 35%;
  }

  button {
    align-self: center;
  }
}

@media (max-width: 480px) {
  .scan-container {
    flex-direction: column;
    padding: 0.5rem;
  }

  .scanner-wrapper {
    font-size: 1rem;
  }

  .fetch-div {
    font-size: 0.8rem;
  }

  .scanner-wrapper,
  .brc-list-container {
    width: 100%;
  }

  .cam-dim {
    height: 70%;
  }

  .scan-container video {
    width: 100%;
    height: 100%;
  }

  .scanned-title {
    font-size: 1rem;
  }

  .fetch-btn button {
    width: 40%;
    font-size: 0.85rem;
  }

  .scan-br-list {
    font-size: 0.75rem;
    margin-top: 1.5rem;
  }

  .manual-input {
    width: 100%;
    height: 30%;
  }

  .label-input {
    margin-left: 0;
  }

  label {
    width: 100%;
    align-self: start;
  }

  form {
    overflow-y: auto;
    margin-top: 1rem;
    width: 100%;
  }

  button {
    align-self: center;
  }
}
