/* Import fonta */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap");

/* Slika pozadine */
.digit-bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

/* Glavni omotač */
.digit-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-family: "Cinzel", serif;
}

/* Središnji kontejner */
.digit-list-container {
  background-color: #3a3a3a;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  color: #ededed;
  display: flex;
  flex-direction: row;
  width: 85vw;
  height: 75vh;
  margin-top: 5vh;
  border-radius: 0.5rem;
}

/* Omotač popisa filmova i grupa*/
.digit-film-list,
.digit-grouped {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

/* Lista popisa i grupiranih filmova */
.digit-list {
  text-align: left;
  font-size: 0.7rem;
  overflow-y: auto;
}

.digit-grouped {
  text-align: center;
  overflow-y: auto;
}

/* Omotač gumbova */
.digit-btns {
  padding: 0.5rem;
  margin-top: auto;
  display: flex;
  justify-content: space-evenly;
}

/* Funkcionalni gumbi */
.digit-btns button {
  background-color: #6c757d;
  color: #ededed;
  border: none;
  border-radius: 0.5rem;
  width: 80%;
}

/* Prijelaz miša preko gumba */
.digit-btns button:hover {
  background-color: #5a6268;
}

/* Prozor za edit */
.edit-form {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.edit-form form {
  width: 100%;
}

label {
  text-align: start;
}

input {
  border-radius: 0.5rem;
  width: 100%;
}

.form-btns {
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem;
}

.form-btns button {
  background-color: #6c757d;
  color: #ededed;
  border: none;
  border-radius: 0.5rem;
  width: 40%;
}

/*----------------------Responzivnost---------------------------*/
@media (max-width: 1024px) {
  .digit-list-container {
    flex-direction: column;
    overflow-y: auto;
    height: auto;
    margin-bottom: 10vh;
  }

  .digit-list-container > div {
    flex-shrink: 0;
  }

  .digit-film-list,
  .digit-grouped {
    width: 100%;
    height: 50%;
  }

  .list-title,
  .group-title {
    font-size: 1.6rem;
  }

  .digit-list,
  .grouped-list {
    font-size: 0.9rem;
    max-height: 25vh;
  }

  .digit-btns button {
    width: 25%;
  }

  .edit-form label {
    width: 100%;
  }
}

@media (min-width: 1024px) and (max-height: 900px) {
  .digit-list-container {
    flex-direction: row;
  }

  .digit-film-list,
  .digit-grouped {
    padding: 1rem;
    width: 100%;
    height: 100%;
  }

  .list-title,
  .group-title {
    font-size: 1.4rem;
  }

  .digit-list,
  .grouped-list {
    font-size: 0.8rem;
    align-self: center;
  }

  .digit-btns button {
    width: 80%;
  }

  .form-btns button {
    width: 40%;
  }
}

@media (max-width: 480px) {
  .digit-list-container {
    flex-direction: column;
    overflow-y: auto;
    height: auto;
    margin-bottom: 10vh;
  }

  .digit-list-container > div {
    flex-shrink: 0;
  }

  .digit-film-list,
  .digit-grouped {
    width: 100%;
    height: 50%;
  }

  .list-title,
  .group-title {
    font-size: 1.2rem;
    align-self: center;
  }

  .digit-list,
  .grouped-list {
    font-size: 0.7rem;
    max-height: 25vh;
  }

  .digit-btns button {
    width: 65%;
  }

  .edit-form {
    font-size: 1rem;
    padding: 1rem;
  }
}
