@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

.home-bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh;         
  object-fit: cover;
  z-index: -1;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 100vw;
  font-family: 'Cinzel', serif;
}

.home-wrap {
    background-color:  #3a3a3a;
    color: #ededed;
    width: 85vw;
    height: 75vh;
    max-width: 80rem;
    max-height: 75rem;
    border-radius: 0.5rem;
    padding: 2rem;
}